// Icarus Colors (from figma)
$bleuboat: #003674;
$bleuboatshadow: #00367485;
$bleuboatshadowcard: #003674d1;
$bleufonce: #0b2e55;
$noiricarus: #161430;
$grisfonceicarus: #5b587a;
$blancicarus: #f8f7ff;
$papyrus: #f8f7ff;
$rougeicarus: #940808fa;

// Crew Colors
$orangechoco: #e4813f;
$orangechocoshadow: #a86030;
$vertjl: #a6ce8b;
$vertjlshadow: #789564;
$bleuroro: #73a3da;
$bleuroroshadow: #5c81ad;









