// Icarus Colors (from figma)
$bleuboat: #003674;
$bleuboatshadow: #00367485;
$bleufonce: #0b2e55;
$noiricarus: #161430;
$grisfonceicarus: #5b587a;
$blancicarus: #f8f7ff;
$papyrus: #f9f6f1;

// Crew Colors
$orangechoco: #e4813f;
$vertjl: #a6ce8b;
$bleuroro: #73a3da;








