.page-login {
    height: 100vh;
    max-width: 100vw;
    background-image: url('IMG_7504-2');
    background-size: cover;
    background-position: center;
    text-shadow: 0px 0px 4px grey;
}

.page-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.70);
}