.newSpentModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: $papyrus;
    padding: 16px;
    border-radius: 8px;
    display: none;
}