<div class="container">
  <h1 class="text-center">Icarus</h1>

  <div class="button-icarus">
    <p>Clique</p>
  </div>

  <div class="button-icarus-img">
    <img src="https://picsum.photos/200/300?random=1" alt="" />
    <p>Clique</p>
  </div>

  <div class="card-work">
    <div class="card-work-white-part"><p>white</p></div>

    <div class="card-work-blue-part">
      <div class="card-work-circle"></div>
      <p>blue</p>
    </div>
  </div>
</div>
