<div class="container-icarus-map">
  <h1 class="text-center">Carte des Mers</h1>
  <div
    style="width: 100%; height: 60vh"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>