document.querySelector("body").insertAdjacentHTML("afterbegin", "<div class='overlay-flashes'><div class='alert alert-info alert-dismissible fade show m-1'>Merci de ton investissement !</div></div>");
document.querySelector("#formModal").innerHTML = "";
$("#debt-section").load(window.location.href + " #debt-section");
$("#chartDiv").load(window.location.href + " #chartDiv");
location.reload()