.simple_form {
  // text-align: center;
  font-family: $body-font;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  label {
    font-size: 24px;
  }
  &.boolean {
    border: none;
  }
}

.form-control {
  font-style: italic;
  font-family: $body-font;
  font-weight: 500;
  font-size: 20px;
  margin: 4px 0px 28px;
  border: 1px solid $bleuboat;
  border-radius: 18px;
  text-align: center;
  height: 44px;
  &:focus {
    outline: none;
    border: 1px solid $bleuboat;
    box-shadow: 0px 0px 4px $bleuboat;
  }
  &.text {
    height: 100px;
  }
  button {
    underline: none;
  }
}

.btn {
    border: none;
    text-decoration: none;
    background-color: $bleuboat;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    font-size: 20px;
    font-family: $body-font;
    color: white;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
}

// input {
//   border: none;
//   font-family: $body-font;
//   width: 100%;
//   color: white;
// }