@keyframes downopacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes upopacity {
    100% {
        opacity: 1;
    }
}

@keyframes growupsection1 {
    0% {
        min-height: 5%;
    }
    100% {
        top:0%;
        min-height: 100%;
        pointer-events: none;
    }
}

@keyframes growdownsection1 {
    0% {
        top:0%;
        min-height: 100%;
        pointer-events: none;
    }
    100% {
        top:20%;
        min-height: 5%;
        pointer-events: cursor;
    }
}

@keyframes growupsection2 {
    100% {
        bottom:0%;
        min-height: 100%;
        pointer-events: none;
    }
}

@keyframes growdownsection2 {
    0% {
        bottom:0%;
        min-height: 100%;
        pointer-events: none;
    }
    100% {
        bottom:20%;
        min-height: 5%;
        pointer-events: cursor;
    }
}