@keyframes noDisplay {
    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

@keyframes growupfromtop {
    100% {
        top:0%;
        min-height: 100%;
        pointer-events: none;
    }
}

@keyframes growupfrombottom {
    100% {
        bottom:0%;
        min-height: 100%;
        pointer-events: none;
    }
}