// Icarus Style

.navbar-mobile-icarus {
  position: absolute;
  position: fixed;
  width: 80vw;
  padding: 25px 10vw;
  bottom: 0px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 73%,
    rgba(255, 255, 255, 0.9444152661064426) 75%,
    rgba(255, 255, 255, 0.9528186274509804) 78%,
    rgba(255, 255, 255, 0.9136029411764706) 81%,
    rgba(255, 255, 255, 0.8071603641456583) 84%,
    rgba(255, 255, 255, 0.7371323529411764) 87%,
    rgba(255, 255, 255, 0.76234243697479) 90%,
    rgba(255, 255, 255, 0.7903536414565826) 94%,
    rgba(255, 255, 255, 0.700717787114846) 97%,
    rgba(255, 255, 255, 0.5746673669467788) 100%
  );
  .icons {
    font-size: 28px;
    color: $bleuboat;
    text-shadow: 1px 1px 10px $papyrus;
    opacity: 0.5;
    &.active {
      opacity: 1;
      text-shadow: 1px 1px 10px $bleuboatshadow;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    li {
      display: inline-block;
    }
  }
}
