.arrow-back {
  svg {
    position: absolute;
    top: 0.5vh;
    left: 3vw;
    z-index: 1001;
  }
  z-index: 1001;
}

.cross, .cross2, .cross3 {
  // display: flex;
  // width: 100%;
  // justify-content: flex-end;
}
